body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


header, main, footer {
  width: 800px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  padding: 2.8rem;
  font-family: 'Bangers', cursive;
  font-size: 5rem;
  text-shadow: 1px 1px 5px rgba(146, 231, 139, 0.815)
  }



 #problem .expression {
  font-size: 48px;
  /* border: 1px solid #eeeeee; */
  padding: 10px;
  margin: 0 40px;
}  


#answers ul {
  margin: 0;
  padding: 0;
  margin: 40px auto;
  display:flex;
  list-style-type: none;
  justify-content: space-around;
  
}

#answers li {
  margin: 0 20px;
  padding: 20px 30px;
  cursor: pointer;
  border-radius: 40px;
  background-color: #eeeeee2c;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
}

#answers li:hover {
  background-color: #ABD587;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-2px);
}

footer {
  padding: 1.2rem;
  margin-top: 50px;
  font-size: 12px;
}

/* button {
  display: block;
  margin: 40px auto;
  padding: 8px 12px;
  background-color: #ABD587;
  text-transform: uppercase;
  border: 0px;
  border-radius: 4px;
  font-size: 20px;
} */



.hidden {
  display:none;
}

button {
  width: 140px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #000;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  }

button:hover {
  background-color: #ABD587;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

/* 
#problem .expression
{
  background: #ffffff;
  border: none;
  border-radius: 24px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.9) 0px 30px 60px -30px;
  padding: 2.6rem 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
} */

